.sidebar {
    min-width: 400px;
    max-width: 100%;
    min-height: 600px;
    max-height: 100%;
    background: white;
    transition: all 0.3s;
}
.sidebar .sidebar-header {
    padding-left: 10px;
    background: white;
}
.sidebar-header h3{
  color: #1b264f;
}

.sidebar ul.components {
    padding: 20px 0;
    
}
.sidebar{
  height: 100%;
}
.sidebar ul p {
    color:black;
    font-weight: 400;
    font-size: 16px;
    padding-left: 6px;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;

}

.sidebar ul li.active>p,
p[aria-expanded="true"] {
    color: #fff;
    background: rgba(223, 217, 217, 0.75);
    height: 25px;
}

.navbar-whitebackground-setting{
    color:black;
    background:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }


.form-wel{
    margin-top:5px;
    margin-left: 20px;
    background-color: #fff;
    width: 97%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 250px;
}

.table-setting{
    width: 100%;
    height: 600px;
}

.td-w-20
{
    width: 20%;
}

.td-w-80
{
    width: 80%;
}

.td-h-20
{
    height: 20%;
}

.td-h-80
{
    height: 80%;
}

.lable-10px{
    margin-top: 10px;
}

.lable-common
{
    margin-left: 25px;
    
}
.lable-header
{
    margin-top: 30px;
    font-size: 25px;
}

.lable-bold
{
    font-weight: bold;
}

ul.a{
    list-style-type: circle;
    margin-left: 35px;
}